{% extends 'Base/Base.html' %}
{% load static %}
{% block title %} Updata Experience {% endblock %}

{% block reference %}
	<link rel="stylesheet" type="text/css" href="{% static 'Registration/Css/font-awesome.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="alert alert-{{message.tags}} mt-5 mx-auto py-5 w-50"{%endif%}>{{message}}</p>
            {% endfor %}
        {% endif %}
        <form action="" method="POST"novalidate >
            {% csrf_token %}
            {{RegistrationForm.as_p}}
            <input class="btn btn-primary" type="submit" value="submit">
            {% if RegistrationForm.non_field_errors %}
				{% for error in RegistrationForm.non_field_errors  %}
					<p class="alert alert-danger">{{error}}</p>
				{% endfor %}
			{%endif %}
        </form>

    </div>
{% endblock content %}

{% block scripttab %}
{% endblock %}